<body>
    <div style = "position:relative; left:6px;">
        <h1>Редактирование вагона</h1>
        <form action="/edit/carriage" method="POST">
            <input type ="hidden" name="id" value="{{carriage.[0].[0].id}}" />

            <label>Номер состава</label><br>
            <select name="train">
                {{#each carriage.[0]}}
                <option value = "{{trainId}}" disabled>{{trainId}}</option>
                {{/each}}
                {{#each carriage.[1]}}
                <option value = "{{id}}">{{id}}</option>
                {{/each}}
            </select><br><br>

            <label>Состояние</label><br>
            <select name="carriagestatus">
                {{#each carriage.[0]}}
                <option value = "{{carriagestatusId}}" disabled>{{'carriagestatus.name'}}</option>
                {{/each}}
                {{#each carriage.[2]}}
                <option value = "{{id}}">{{name}}</option>
                {{/each}}
            </select><br><br>
            
            <label>Тип вагона</label><br>
            <select name="carriagetype">
                {{#each carriage.[0]}}
                <option value = "{{carriagetypeId}}" disabled>{{'carriagetype.name'}}</option>
                {{/each}}
                {{#each carriage.[3]}}
                <option value = "{{id}}">{{name}}</option>
                {{/each}}
            </select><br><br>
            <label>Груз</label><br>
            <select name="cargo">
                {{#each carriage.[0]}}
                <option value = "{{cargoId}}" disabled>{{'cargo.name'}}</option>
                {{/each}}
                {{#each carriage.[4]}}
                <option value = "{{id}}">{{name}}</option>
                {{/each}}
            </select><br><br>
            <br><br>
            <div style = "display: flex;">
            <input class="btn btn-success" type="submit" value="Отправить" />
            </div>
        </form>

        <form action="/carriages" method="GET" style="display:inline;">
            <input class="btn btn-secondary" type="submit" value="Вернуться" />
        </form>
    </div>
</body>